<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') -%>
</head>
<body>

    <%- include('../layout/header',path='') -%>

    <div class="error-page">
      <img src="/assets/img/errors/not-found.png" class="img-fluid not-found" />
      <h1>Page not Found</h1>
    </div>

    <!-- scripts -->
    <%- include('../layout/scripts-connector') -%>

</body>
</html>