<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') -%>
</head>
<body>

    <%- include('../layout/header',path='') -%>

    <div class="error-page">
      <img src="/assets/img/errors/server.webp" class="img-fluid server" />
      <h1>Internal server error</h1>
    </div>

    <!-- scripts -->
    <%- include('../layout/scripts-connector') -%>

</body>
</html>